.digit, .operator, #clear, #equals{
    height: 50px;
    width: 31%;
}
.digit{
    background-color: #8C8CFE;
}
.operator, #equals, #clear{
    background-color: #0ffff0;
}
#calculator{
    width: 500px;
    height: 500px;
    border: 2px solid #444444;
}
#readout{
    height: 50px;
    border: 3px solid #999999;
}